@import "tailwindcss";

/* LOBSTER FONT */
/* @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap"); */

/* INTER FONT */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

.logo {
  font-family: lobster, cursive;
  font-size: 2.5rem;
}

.logo:hover,
.nav-link:hover {
  color: #f97316;
  transition: all 0.3s ease-in-out;
}

li {
  font-family: inter, sans-serif;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1.5rem;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: #333;
  position: relative;
  transition: all 0.3s ease;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(8px);
}

.hamburger.open {
  background-color: transparent;
}

.hamburger.open::before {
  transform: rotate(45deg);
}

.hamburger.open::after {
  transform: rotate(-45deg);
}

.hero_section {
  background-image: url("../src/assets/baked-chicken-wings-asian-style-tomatoes-sauce-plate.jpg"); /* Update with your image path */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 1;
}

.spicy {
  text-shadow: 2px 2px #e7fafe;
}

.btn {
  background-color: #e7fafe;
  cursor: pointer;
  color: #333;
  /* padding: 0.5rem 1rem; */
}

.btn:hover {
  background-color: #f97316;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.breakfast {
  background-image: linear-gradient(to top, #e7fafe, #fff);
  padding: 1rem;
}

.vegan {
  background-image: linear-gradient(
    to top,
    hsla(100, 54%, 51%, 0.1),
    hsla(100, 54%, 51%, 0)
  );
  padding: 1rem;
}

.meat {
  background-image: linear-gradient(
    to top,
    hsla(0, 100%, 50%, 0.1),
    hsla(0, 100%, 50%, 0)
  );
  padding: 1rem;
}

.dessert {
  background-image: linear-gradient(
    to top,
    hsla(50, 100%, 50%, 0.1),
    hsla(50, 100%, 50%, 0)
  );
  padding: 1rem;
}

.lunch {
  background-image: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.05),
    hsla(0, 0%, 0%, 0)
  );
  padding: 1rem;
}

.chocolate {
  background-image: linear-gradient(
    to top,
    hsla(30, 100%, 50%, 0.1),
    hsla(30, 100%, 50%, 0)
  );
  padding: 1rem;
}

.breakfast p,
.vegan p,
.meat p,
.dessert p,
.lunch p,
.chocolate p {
  color: #333;
  font-family: inter, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.recipe_card {
  background-image: linear-gradient(
    to top,
    hsla(191, 85%, 95%, 1),
    hsla(191, 85%, 95%, 0)
  );
}

.kitchen,
.instagram_card {
  background-image: linear-gradient(
    to top,
    hsla(191, 85%, 95%, 1),
    hsla(191, 85%, 95%, 0)
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@media (min-width: 1024px) {
  .hero_section {
    background-image: none;
    background-color: #e7fafe;
  }
  .hero_section::before {
    display: none;
  }
}
